# Data Processing for eICU-demo dataset

Downloaded (v2.0.1) from: on 12 Feb 2026

using the sqlite3 version for this processing

## Overall Notes/Comments:

- Any information related to hospital discharge has not been exported
- Filtered by within 12 hours of admission, using an offset of 720 (the offset is counted in mins)
- Might need to be careful with the admission and other drugs, as these could leak info to the model, by giving very clear indication of the diagnosis

## Tables/fields used

Tables used in this processing:

- `patient` - for the basic patient info

In [1]:
import sqlite3
import pandas as pd

MAX_OFFSET = 60 * 12 # 12 hours
db_path = "input/eicu_v2_0_1.sqlite3"
conn = sqlite3.connect(db_path)

## Obtain the basic patient data

In [4]:
query = """
SELECT
    p.patientunitstayid,
    p.age
FROM patient p

"""

df_enhanced = pd.read_sql_query(query, conn)

df_enhanced

      patientunitstayid age
0                141764  87
1                141765  87
2                143870  76
3                144815  34
4                145427  61
...                 ...  ..
2515            3351763  62
2516            3352230  41
2517            3352231  41
2518            3352333  72
2519            3353113  50

[2520 rows x 2 columns]

## Add the patient diagnosis